# 邮箱
CA_SUBJECT=example@outlook.com

# 域名。同 nginx.env 的 VIRTUAL_HOST
SSL_SUBJECT=cloud.example.com

# 文件名
SSL_KEY=/certs/cloud.example.com.key
SSL_CSR=/certs/cloud.example.com.csr
SSL_CERT=/certs/cloud.example.com.crt